In [205]:
import pandas as pd
import numpy as np
import csv

In [206]:
df = pd.read_csv("country_vaccinations.csv")
df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0,Oxford/AstraZeneca,Government of Afghanistan,http://www.xinhuanet.com/english/asiapacific/2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7739,Zimbabwe,ZWE,2021-03-18,40002.0,40002.0,NaN,395.0,569.0,0.27,0.27,NaN,38.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7740,Zimbabwe,ZWE,2021-03-19,41687.0,41687.0,NaN,1685.0,772.0,0.28,0.28,NaN,52.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,NaN,523.0,836.0,0.28,0.28,NaN,56.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7742,Zimbabwe,ZWE,2021-03-21,42729.0,42729.0,NaN,519.0,910.0,0.29,0.29,NaN,61.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...
7743,Zimbabwe,ZWE,2021-03-22,43294.0,43294.0,NaN,565.0,805.0,0.29,0.29,NaN,54.0,Sinopharm/Beijing,Ministry of Health,https://twitter.com/MoHCCZim/status/1374083136...

In [207]:
df.drop(['source_website', 'source_name', 'daily_vaccinations_raw', 'daily_vaccinations', 'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred' ],axis='columns', inplace=True)

In [208]:
df

,country,iso_code,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.00,0.00,NaN,Oxford/AstraZeneca
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,35.0,Oxford/AstraZeneca
...,...,...,...,...,...,...,...,...,...
7739,Zimbabwe,ZWE,2021-03-18,40002.0,40002.0,0.27,0.27,38.0,Sinopharm/Beijing
7740,Zimbabwe,ZWE,2021-03-19,41687.0,41687.0,0.28,0.28,52.0,Sinopharm/Beijing
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,0.28,0.28,56.0,Sinopharm/Beijing
7742,Zimbabwe,ZWE,2021-03-21,42729.0,42729.0,0.29,0.29,61.0,Sinopharm/Beijing
7743,Zimbabwe,ZWE,2021-03-22,43294.0,43294.0,0.29,0.29,54.0,Sinopharm/Beijing

In [209]:
df.dropna(subset =['total_vaccinations'], inplace=True)
df

,country,iso_code,date,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines
0,Afghanistan,AFG,2021-02-22,0.0,0.0,0.00,0.00,NaN,Oxford/AstraZeneca
6,Afghanistan,AFG,2021-02-28,8200.0,8200.0,0.02,0.02,35.0,Oxford/AstraZeneca
22,Afghanistan,AFG,2021-03-16,54000.0,54000.0,0.14,0.14,74.0,Oxford/AstraZeneca
23,Albania,ALB,2021-01-10,0.0,0.0,0.00,0.00,NaN,Pfizer/BioNTech
25,Albania,ALB,2021-01-12,128.0,128.0,0.00,0.00,22.0,Pfizer/BioNTech
...,...,...,...,...,...,...,...,...,...
7739,Zimbabwe,ZWE,2021-03-18,40002.0,40002.0,0.27,0.27,38.0,Sinopharm/Beijing
7740,Zimbabwe,ZWE,2021-03-19,41687.0,41687.0,0.28,0.28,52.0,Sinopharm/Beijing
7741,Zimbabwe,ZWE,2021-03-20,42210.0,42210.0,0.28,0.28,56.0,Sinopharm/Beijing
7742,Zimbabwe,ZWE,2021-03-21,42729.0,42729.0,0.29,0.29,61.0,Sinopharm/Beijing
7743,Zimbabwe,ZWE,2021-03-22,43294.0,43294.0,0.29,0.29,54.0,Sinopharm/Beijing

In [210]:
us_vaccine_df = df[df['country'] == 'United States']
us_vaccine_df = us_vaccine_df.drop(['country', 'iso_code', 'vaccines'], axis='columns')
us_vaccine_df = us_vaccine_df.dropna(subset =['people_vaccinated', 'people_vaccinated_per_hundred'])
us_vaccine_df = us_vaccine_df.set_index('date')
us_vaccine_df['daily_vaccinations_per_million'] = us_vaccine_df['daily_vaccinations_per_million'].fillna(0)
us_vaccine_df

,total_vaccinations,people_vaccinated,total_vaccinations_per_hundred,people_vaccinated_per_hundred,daily_vaccinations_per_million
date,,,,,
2020-12-20,556208.0,556208.0,0.17,0.17,0.0
2020-12-21,614117.0,614117.0,0.18,0.18,173.0
2020-12-23,1008025.0,1008025.0,0.30,0.30,450.0
2020-12-26,1944585.0,1944585.0,0.58,0.58,692.0
2020-12-28,2127143.0,2127143.0,0.64,0.64,646.0
...,...,...,...,...,...
2021-03-18,115730008.0,75495716.0,34.60,22.57,7486.0
2021-03-19,118313818.0,77230061.0,35.38,23.09,7341.0
2021-03-20,121441497.0,79367225.0,36.31,23.73,6723.0
2021-03-21,124481412.0,81415769.0,37.22,24.34,7441.0
2021-03-22,126509736.0,82772416.0,37.83,24.75,7444.0

In [211]:
country_df = df.groupby(['country'])[['iso_code','total_vaccinations', 'total_vaccinations_per_hundred']]
total_vaccines_df = country_df.agg('max')
total_vaccines_df

             iso_code  total_vaccinations  total_vaccinations_per_hundred
country
Afghanistan       AFG             54000.0                            0.14
Albania           ALB             48229.0                            1.68
Algeria           DZA             75000.0                            0.17
Andorra           AND              4914.0                            6.36
Angola            AGO             49000.0                            0.15
...               ...                 ...                             ...
Uruguay           URY            344285.0                            9.91
Venezuela         VEN             12194.0                            0.04
Vietnam           VNM             36082.0                            0.04
Wales        OWID_WLS           1619244.0                           51.36
Zimbabwe          ZWE             43294.0                            0.29

[150 rows x 3 columns]

In [212]:
total_vaccines_df.dtypes

iso_code                           object
total_vaccinations                float64
total_vaccinations_per_hundred    float64
dtype: object

In [213]:
countries_df = df[['country', 'iso_code']].drop_duplicates()
countries_df = countries_df.set_index('iso_code')
countries_df

              country
iso_code
AFG       Afghanistan
ALB           Albania
DZA           Algeria
AND           Andorra
AGO            Angola
...               ...
URY           Uruguay
VEN         Venezuela
VNM           Vietnam
OWID_WLS        Wales
ZWE          Zimbabwe

[150 rows x 1 columns]

In [214]:
country_vaccines_df = df[['country','iso_code','vaccines']]
country_vaccines_df = country_vaccines_df.drop_duplicates(subset=['country', 'iso_code'])
country_vaccines_df = country_vaccines_df.set_index(['country'])
country_vaccines_df

             iso_code                             vaccines
country
Afghanistan       AFG                   Oxford/AstraZeneca
Albania           ALB                      Pfizer/BioNTech
Algeria           DZA                            Sputnik V
Andorra           AND                      Pfizer/BioNTech
Angola            AGO                   Oxford/AstraZeneca
...               ...                                  ...
Uruguay           URY             Pfizer/BioNTech, Sinovac
Venezuela         VEN                            Sputnik V
Vietnam           VNM                   Oxford/AstraZeneca
Wales        OWID_WLS  Oxford/AstraZeneca, Pfizer/BioNTech
Zimbabwe          ZWE                    Sinopharm/Beijing

[150 rows x 2 columns]

In [215]:
country_vaccine_info_df = pd.merge(total_vaccines_df, country_vaccines_df, on = ["country", "iso_code"])
country_vaccine_info_df.drop('total_vaccinations_per_hundred', axis='columns', inplace=True)
country_vaccine_info_df

             iso_code  total_vaccinations                             vaccines
country
Afghanistan       AFG             54000.0                   Oxford/AstraZeneca
Albania           ALB             48229.0                      Pfizer/BioNTech
Algeria           DZA             75000.0                            Sputnik V
Andorra           AND              4914.0                      Pfizer/BioNTech
Angola            AGO             49000.0                   Oxford/AstraZeneca
...               ...                 ...                                  ...
Uruguay           URY            344285.0             Pfizer/BioNTech, Sinovac
Venezuela         VEN             12194.0                            Sputnik V
Vietnam           VNM             36082.0                   Oxford/AstraZeneca
Wales        OWID_WLS           1619244.0  Oxford/AstraZeneca, Pfizer/BioNTech
Zimbabwe          ZWE             43294.0                    Sinopharm/Beijing

[150 rows x 3 columns]

In [216]:
people_df = df.groupby(['country'])[['iso_code','date','people_vaccinated', 'people_vaccinated_per_hundred']]
people_vaccines_df = people_df.agg('max')
people_vaccines_df = people_vaccines_df.dropna()
people_vaccines_df

,iso_code,date,people_vaccinated,people_vaccinated_per_hundred
country,,,,
Afghanistan,AFG,2021-03-16,54000.0,0.14
Albania,ALB,2021-03-22,6073.0,0.21
Andorra,AND,2021-03-10,3650.0,4.72
Angola,AGO,2021-03-18,49000.0,0.15
Anguilla,AIA,2021-03-19,5348.0,35.65
...,...,...,...,...
Uruguay,URY,2021-03-22,344285.0,9.91
Venezuela,VEN,2021-03-04,12194.0,0.04
Vietnam,VNM,2021-03-22,36082.0,0.04
Wales,OWID_WLS,2021-03-21,1273186.0,40.38
Zimbabwe,ZWE,2021-03-22,43294.0,0.29

In [217]:
people_vaccines_df.to_csv('csv files\people_vaccines.csv')
country_vaccine_info_df.to_csv('csv files\country_vaccine_info.csv')

In [218]:
total_vaccines_df.to_csv('csv files\\total_vaccines.csv')
us_vaccine_df.to_csv('csv files\\us_vaccines_info.csv')

In [219]:
country_vaccines_df['vac_lst'] = country_vaccines_df['vaccines'].str.split(', ')
country_vaccines_df

new_df = pd.DataFrame()
num = 0
for i, lst in enumerate(country_vaccines_df['vac_lst']):
    for j in range(len(lst)):
        new_df[num] = [country_vaccines_df['iso_code'][i]] + [lst[j]]
        num += 1
vaccines_df = new_df.transpose()
vaccines_df = vaccines_df.rename(columns={0: "iso_code", 1: "vaccine"})
vaccines_df = vaccines_df.set_index(['iso_code', 'vaccine'])
vaccines_df

Empty DataFrame
Columns: []
Index: [(AFG, Oxford/AstraZeneca), (ALB, Pfizer/BioNTech), (DZA, Sputnik V), (AND, Pfizer/BioNTech), (AGO, Oxford/AstraZeneca), (AIA, Oxford/AstraZeneca), (ATG, Oxford/AstraZeneca), (ARG, Oxford/AstraZeneca), (ARG, Sinopharm/Beijing), (ARG, Sputnik V), (AUS, Oxford/AstraZeneca), (AUS, Pfizer/BioNTech), (AUT, Moderna), (AUT, Oxford/AstraZeneca), (AUT, Pfizer/BioNTech), (AZE, Sinovac), (BHS, Oxford/AstraZeneca), (BHR, Oxford/AstraZeneca), (BHR, Pfizer/BioNTech), (BHR, Sinopharm/Beijing), (BHR, Sputnik V), (BGD, Oxford/AstraZeneca), (BRB, Oxford/AstraZeneca), (BLR, Sputnik V), (BEL, Moderna), (BEL, Oxford/AstraZeneca), (BEL, Pfizer/BioNTech), (BLZ, Oxford/AstraZeneca), (BMU, Pfizer/BioNTech), (BOL, Sputnik V), (BRA, Oxford/AstraZeneca), (BRA, Sinovac), (BGR, Moderna), (BGR, Oxford/AstraZeneca), (BGR, Pfizer/BioNTech), (KHM, Sinopharm/Beijing), (CAN, Moderna), (CAN, Oxford/AstraZeneca), (CAN, Pfizer/BioNTech), (CYM, Pfizer/BioNTech), (CHL, Pfizer/BioNTech), (CHL, Sinovac), (CHN, Sinopharm/Beijing), (CHN, Sinopharm/Wuhan), (CHN, Sinovac), (COL, Pfizer/BioNTech), (COL, Sinovac), (CRI, Pfizer/BioNTech), (CIV, Oxford/AstraZeneca), (HRV, Pfizer/BioNTech), (CYP, Pfizer/BioNTech), (CZE, Moderna), (CZE, Oxford/AstraZeneca), (CZE, Pfizer/BioNTech), (DNK, Moderna), (DNK, Oxford/AstraZeneca), (DNK, Pfizer/BioNTech), (DMA, Oxford/AstraZeneca), (DOM, Oxford/AstraZeneca), (DOM, Sinovac), (ECU, Pfizer/BioNTech), (EGY, Sinopharm/Beijing), (SLV, Oxford/AstraZeneca), (OWID_ENG, Oxford/AstraZeneca), (OWID_ENG, Pfizer/BioNTech), (GNQ, Sinopharm/Beijing), (EST, Moderna), (EST, Oxford/AstraZeneca), (EST, Pfizer/BioNTech), (FRO, Moderna), (FRO, Pfizer/BioNTech), (FLK, Oxford/AstraZeneca), (FIN, Moderna), (FIN, Oxford/AstraZeneca), (FIN, Pfizer/BioNTech), (FRA, Moderna), (FRA, Oxford/AstraZeneca), (FRA, Pfizer/BioNTech), (DEU, Moderna), (DEU, Oxford/AstraZeneca), (DEU, Pfizer/BioNTech), (GHA, Oxford/AstraZeneca), (GIB, Pfizer/BioNTech), (GRC, Moderna), (GRC, Oxford/AstraZeneca), (GRC, Pfizer/BioNTech), (GRL, Pfizer/BioNTech), (GRD, Oxford/AstraZeneca), (GTM, Moderna), (GGY, Pfizer/BioNTech), (GIN, Sputnik V), (GUY, Oxford/AstraZeneca), (HND, Moderna), (HND, Oxford/AstraZeneca), (HKG, Pfizer/BioNTech), (HKG, Sinovac), (HUN, Moderna), (HUN, Oxford/AstraZeneca), (HUN, Pfizer/BioNTech), (HUN, Sinopharm/Beijing), ...]

[258 rows x 0 columns]

In [220]:
countries_df.to_csv('csv files\\countries.csv')
vaccines_df.to_csv('csv files\\country_vaccines.csv')